<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="stepper-area">
    <mat-horizontal-stepper>
      <mat-step label="Shippng Address">
        <p>Shipping Address Details</p>
      </mat-step>
      <mat-step label="Billing Address">
        <p>Billing Address Details</p>
      </mat-step>
      <mat-step label="Place Order">
        <p>Order Details</p>
      </mat-step>
      
    </mat-horizontal-stepper>
    
</div>


<div class ="contents-cover">
  <div class="headder">
    <div class="title"></div>
  </div>
  <fa-icon [icon]="faDownload"></fa-icon>
  <i class="fa fa-download" aria-hidden="true"></i>
  <div class="contents">
    <ag-grid-angular
    style="width: 100%; height: 500px; "
    class="ag-theme-alpine"
    [rowData]="rowData | async" 
    [columnDefs]="columnDefs"
    >
    </ag-grid-angular>
</div>
</div>


